.profile__avatar-edit-button{
    background: transparent;
    border: none;
    border-radius: 50%;
    height: 120px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 120px;
    cursor: pointer;

}

.profile__avatar-edit-button:hover {
    transition: 3s;
    opacity: .6;
}