.page {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
    color: #fff;
    font-family: 'Inter', 'Tahoma', sans-serif;
    text-rendering: optimizeLegibility;
}

.header {
    padding: 45px 0 0;
    max-width: 880px;
    min-height: 74px;
    margin: 0 auto;
    position: relative;
}

.header__logo {
    max-width: 142px;
    min-height: 33px;
    padding-bottom: 22px;
    margin-left: 3px;
    margin-top: 3px;
}

.header__line {
    min-width: 880px;

}

.profile {
    padding: 40px 0 0;
    max-width: 880px;
    min-height: 120px;
    margin: 0 auto;
    border-bottom: rgba(84, 84, 84, .7);
    position: relative;
    display: flex;
}



.avatar__wrapper {
    align-items: center;
    display: flex;
    margin-right: 30px;
}


.avatar__edit-button {
    background: transparent;
    border: none;
    border-radius: 50%;
    height: 120px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 120px;
    cursor: pointer;

}

.avatar__edit-button:hover {
    opacity: .6;
}

.profile__wrapper {
    align-items: baseline;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 350px;
}

.profile__title {
    display: flex;
    margin-bottom: 12px;
    margin-top: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}


.profile__subtitle {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: -4px;
}

.profile__edit-button {
    display: flex;
    background-image: url(./images/EditButton.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    width: 28px;
    height: 28px;
    margin-left: 7px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
}

.profile__add-button {
    display: flex;
    background-image: url(./images/AddButton.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    min-width: 159px;
    max-height: 50px;
    cursor: pointer;
    margin-left: 238px;
    margin-top: 31px;
    border-bottom: rgba(84, 84, 84, .7);
}

.profile__add-button:hover {
    opacity: .6;
}

.elements {
    padding-top: 50px;
    max-width: 880px;
    min-height: 744px;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.caed {
    width: 282px;
    height: 361px;
}

.footer {
    padding-top: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;


}

.footers {
    max-width: 318px;
    min-height: 18px;
    border-bottom: rgba(84, 84, 84, .7);
    position: relative;
    display: flex;
    margin: 0;
    margin-left: 490px;
}


@media screen and (max-width:321px) and (max-width: 1280px) {
    .header {
        min-width: 320px;
        min-height: 56px;
        margin: 0;
        padding: 28px 0 0 0;
        overflow: hidden;
    }
}

@media screen and (max-width:321px) and (max-width: 1280px) {
    .logo {
        min-width: 103.74px;
        min-height: 24.4px;
        overflow: hidden;
    }
}


@media screen and (max-width:321px) and (max-width: 1280px) {
    .header__logo {
        padding: 0;
        padding-left: 27px;
        margin: 0;
        max-width: 103.74px;
        max-height: 24.4px;
    }
}

@media screen and (max-width:321px) and (max-width: 1280px) {
    .header__line {
        min-width: 320px;
        padding: 0;
        margin-top: 22.5px;
        margin-right: 4px;
    }
}


@media screen and (min-width:320px) and (max-width: 1280px) {
    .avatar__wrapper {
        margin: 0;
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .profile {
        max-width: 282px;
        min-height: 286px;
        padding: 42px 19px 0;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .profile__wrapper {
        margin: 5px 0 9px 3px;
        max-width: 0;
        
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .profile__title {
        min-width: 189px;
        max-height: 26px;
        font-size: 27px;
        line-height: 33px;
        padding: 0;
    }
}

@media screen and (max-width:321px) and (max-width: 1280px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        padding: 0;
        margin: -12px 21px 41px 17px;
        align-items: center;
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .profile__avatar {
        display: flex;
        margin: 0 auto;
    }
}

@media screen and (max-width:321px) and (max-width: 1280px) {
    .avatar__info {
        margin-right: 0;
    }
}


@media screen and (min-width:320px) and (max-width: 1280px) {
    .profile__edit-button {
        max-width: 18px;
        max-height: 18px;
        margin: 0;
        
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .profile__add-button {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: cover;
        min-width: 282px;
        min-height: 50px;
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .elements{
        padding: 36px 19px 0 19px;
        width: calc(100% - 38px);
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .cards{
        column-gap: 17px;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(282px,1fr));
        row-gap: 20px;
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .footer{
        padding: 48px 19px 36px 19px;
        min-width: 282px;
        min-height: 14px;
        margin: 0;
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .footers{

        margin: 0;
    }
}