.page {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
    color: #fff;
    font-family: 'Inter', 'Tahoma', sans-serif;
    text-rendering: optimizeLegibility;
}

.header {
    padding: 45px 0 0;
    max-width: 880px;
    min-height: 74px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    position: relative;
}


.profile {
    padding: 40px 0 0;
    max-width: 880px;
    min-height: 120px;
    margin: 0 auto;
    border-bottom: rgba(84, 84, 84, .7);
    position: relative;
    display: flex;
}

.avatar__kusto {
    align-items: center;
    display: flex;
    margin-right: 30px;
}

.avatar__edit-button {
    background: transparent;
    border: none;
    border-radius: 50%;
    height: 120px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 120px;
    cursor: pointer;

}

.avatar__edit-button:hover {
    opacity: .6;
}

.profile__wrapper {
    align-items: baseline;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 350px;
}

.profile__title {
    display: flex;
    margin-bottom: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.profile__subtitle {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
}

.profile__edit-button {
    display: flex;
    background-image: url(./images/EditButton.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    width: 28px;
    height: 28px;
    margin-left: 7px;
    cursor: pointer;

}

.profile__edit-button:hover {
    opacity: .6;
}

.profile__add-button {
    display: flex;
    background-image: url(./images/AddButton.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    min-width: 159px;
    max-height: 50px;
    cursor: pointer;
    margin-left: 238px;
    margin-top: 31px;
    border-bottom: rgba(84, 84, 84, .7);
}

.profile__add-button:hover {
    opacity: .6;
}

.elements {
    padding-top: 50px;
    max-width: 880px;
    min-height: 744px;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.caed {
    width: 282px;
    height: 361px;
}

.footer {
    padding-top: 67px;
    min-width: 318px;
    max-height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    
}

.footers {
    max-width: 880px;
    min-height: 109px;
    margin: 0 auto;
    border-bottom: rgba(84, 84, 84, .7);
    position: relative;
    display: flex;
}

