.popup__container {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    min-height: 330px;
    background-color: #ffff;
    border-radius: 10px;
}

@media screen and (min-width: 320px) and (max-width:1280px) {
    .popup__container {
        display: flex;
        flex-direction: column;
        width: 282px;
        height: 322px;
        background-color: #ffff;
        border-radius: 10px;
    }
}