.header__logo {
    max-width: 142px;
    min-height: 33px;
    padding-bottom: 22px;
    margin-left: 3px;
    margin-top: 3px;
}

@media screen  and (min-width:440px) and (max-width: 550px) and (min-width:551px) and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
        margin-top: 0;
    }
}

@media screen and (min-width:310px) and (max-width:1280px) {
    .header__logo {
        padding: 0;
        padding-left: 27px;
        margin: 0;
        max-width: 103.74px;
        max-height: 24.4px;
    }
}

