.header {
    padding: 45px 0 0;
    max-width: 880px;
    min-height: 74px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width:321px) and (max-width: 1280px) {
    .header {
        min-width: 320px;
        min-height: 56px;
        margin: 0;
        padding: 28px 0 0 0;
    }
}

@media screen and (min-width:328px) and (max-width: 550px)  and (min-width:551px) and (max-width: 659px) and (min-width:660px) and (max-width: 720px) and (min-width:721px) and (max-width: 880px) {
    .header {

        padding: 28px 0 0 0;
    }
}