.profile__subtitle {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (min-width:321px) and (max-width:1280px){
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        padding: 0;
        margin: 0;
        margin-right: 4px;
        margin-bottom: 38px;
        align-items: center;
    }
}
