.profile__subtitle {
    flex-direction: column;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    max-width: 267px;
    overflow: hidden;
    white-space: nowrap; 
}


@media screen and (max-width:1280px) {
    .profile__subtitle {
        line-height: 17px;
        padding: 0;
        margin: 0;
        max-width: 245px;
        margin-bottom: 38px;
        align-items: center;
    }
}

@media screen and (max-width:320px) {
    .profile__subtitle {
        font-size: 14px;
        max-width: 240px;
        margin-right: 4px;
        margin-left: 44px;
    }
}

@media screen and (min-width:100px) and (max-width:319px){
    .profile__subtitle {
        padding: 0;
        margin: 0;
    }
}

