.profile__title {
    display: flex;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

@media screenand  and (min-width:10px) and (max-width: 99px) and (min-width:100px) and (max-width: 319px) {
    .profile__title  {
        font-size: 27px;
        line-height: 33px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .profile__title {
        min-width: 189px;
        max-height: 36px;
        font-size: 27px;
        line-height: 33px;
        padding: 0;
        margin-bottom: 2px;
        margin-top: 26px;
    }
}
