.footer__title{
    border-bottom: rgba(84, 84, 84, .7);
    position: relative;
    margin-top: 18px;
}


@media screen and (min-width: 100px) and (max-width:319px) and (min-width: 10px) and (max-width:99px) {
    .footer__title{
        padding-left: 20px;
        margin: 0;
    }
}


@media screen and (min-width:320px) and (max-width: 1280px) {
    .footer__title {
        font-size: 14px;
        line-height: 17px;
        margin: 0px;
    }
}

@media screen and (min-width: 575px) and (max-width: 660px) {
    .footer__title {
        margin: 0;
    }
}