.footer__title {
    border-bottom: rgba(84, 84, 84, .7);
    position: relative;
    margin-top: 18px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width:319px) {
    .footer__title{
        padding-left: 20px;
        margin: 0;
    }
}


@media screen and (min-width:320px) and (max-width:1279px){
    .footer__title {
        margin: 0px;
        font-size: 14px;
        line-height: 17px;
    }
}


@media screen and (min-width: 575px) and (max-width: 660px) {
    .footer__title {
        margin: 0;
    }
}