.profile__add-button {
    display: flex;
    background-image: url(../../../images/VectorPlus.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 22px 22px;
    background-position: 50%;
    min-width: 159px;
    max-height: 50px;
    cursor: pointer;
    margin-left: 247px;
    margin-top: 36px;
    padding: 0;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}


.profile__add-button:hover {
    transition: 2s;
    opacity: .6;
}

@media screen and (max-width: 1280px) {
    .profile__add-button { 
        height: 50px;
        margin: 0;
        width: 282px;
    }
}

@media screen and (min-width:100px) and (max-width: 320px) {
    .profile__add-button {
        background-image: url(../../../images/VectorPlus.svg);
        height: 50px;
        margin: 0 auto;
        padding: 0;
        width: 282px;
    }
}



@media screen and (min-width:10px) and (max-width: 99px) {
    .profile__add-button {
        background-image: url(../../../images/VectorPlus.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border: 2px solid #fff;
        border-radius: 2px;
        color: inherit;
        cursor: pointer;
        font: inherit;
        height: 50px;
        margin: 0 auto;
        padding: 0;
        width: 282px;
    }
}

