.popup_container-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0px 0px 25px rgba(0, 0, 0, 0.15);
    position: relative;
}

@media screen and (min-width: 320px) and (max-width:1279px) {
    .popup_container-add {
        width: 282px;
    }
}