.popup-add__save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter' , 'Arial Italic' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 358px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    background-color: #000;
    margin-bottom: 37px;
}


.popup-add__save-button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width:1279px)  {
    .popup__save-button {
        margin-bottom: 25px;
        padding: 0;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}
