.avatar__wrapper {
    align-items: center;
    display: flex;
    margin-right: 30px;
}

@media screen and (min-width:320px) and (max-width: 1280px) {
    .avatar__wrapper {
        margin: 0;
    }
}
