.profile__wrapper {
    align-items: baseline;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 350px;
}

@media screen and (min-width:100px) and (max-width: 319px) {
    .profile__wrapper {
        margin: 0 auto;
    }
}

@media screen and (min-width:320px) and (max-width: 1279px) {
    .profile__wrapper {
        margin: 0px 0px 0px 28px;
    }
}


