@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);

@import url(../blocks/avatar/__info/avatar__info.css);
@import url(../blocks/avatar/avatar__wrapper.css);
@import url(../blocks/avatar/__edit-button/avatar__edit-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__title/card__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footers/footers.css);

@import url(../blocks/main/main.css);
@import url(../blocks/roshpit/roshpit.css);
@import url(../blocks/like/__button/like__button.css);




.close__wrapper{
    width: 430px ;
}

.popup_section{
    box-sizing: border-box;
    padding: 24px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.popup_opened {
    display: flex;
}


@media screen and (min-width: 320px) {
    .popup__container {
        display: flex;
        flex-direction: column;
        max-width: 282px;
        min-height: 320px;
        background-color: #ffff;
        border-radius: 10px;
    }
}

.popup__container {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    min-height: 330px;
    background-color: #ffff;
    border-radius: 10px;
}


.popup__close {
    background-image: url(../images/Close.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: border-box;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    padding: 0;
    display: flex;
}


.popup__content {
    padding: 34px 36px 0;
}


@media screen and (min-width: 320px) and (max-width:1280px)   {
    .popup__content {
        max-width: 282px;
        min-height: 320px;
        padding: 25px 22px 0;
        margin: 0;
    }
}

.popup__title {
    color: #000;
    margin: 0;
    padding-bottom: 54px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (min-width: 320px) and (max-width:1280px)  {
    .popup__title{
        min-width: 238px;
        height: 22px;
        padding-bottom: 75px;
        font-size: 18px;       
        line-height: 22px;
    }
}


.popup__save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 358px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
}


.popup__save-button:hover {
    transition: 3s;
    opacity: 0.3;
}

@media screen and (min-width: 320px) and (max-width:1280px)  {
    .popup__save-button {
        max-width: 238px;
        min-height: 46px;
    }
}

.popup__input {
    margin-bottom: 30px;
    width: 358px;
    height: 27px;
    border-top: black;
    border-left: black;
    border-right: black;
}

@media screen and (min-width: 320px) and (max-width:1280px) {
    .popup__input {
        max-width: 238px;
        min-height: 27px;
        margin-bottom: 45px ;
    }
}
