.popup__title {
    color: #000;
    margin: 0;
    padding-bottom: 54px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (min-width: 320px) and (max-width:1279px) {
    .popup__title {
        min-width: 238px;
        max-height: 22px;
        padding-bottom: 75px;
        font-size: 18px;
        line-height: 22px;
    }
}