.popup__title-images {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    margin-top: 10px;
    max-width: 292px;
    max-height: 12px;
}
