.footers {
    border-bottom: rgba(84, 84, 84, .7);
    position: relative;
    margin: 3px;
}

@media screen and (min-width: 10px) and (max-width:99px) {
    .footers {
        padding-left: 20px;
        margin: 0;
    }
}


@media screen and (min-width: 100px) and (max-width:319px) {
    .footers {
        padding-left: 20px;
        margin: 0;
    }
}


@media screen and (min-width:320px) and (max-width: 1280px) {
    .footers {
        font-size: 14px;
        line-height: 17px;
        margin: -5px;
        margin-left: 0px;
    }
}

@media screen and (min-width: 575px) and (max-width: 660px) {
    .footers {
        margin: 0;
    }
}